.btn {
  width: 160px;
  height: 64px;
  padding: 16px;
  border-radius: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s;

  &.btn-primary {
    background-color: #68d0f0;
    color: #ffffff;

    &:hover {
      background-color: #ffffff;
      color: #68d0f0;
    }
  }

  &.btn-normal {
    background-color: #ffffff;
    color: #333333;

    &:hover {
      background-color: #cccccc;
    }
  }
}
