.button {
  width: 160px;
  height: 64px;
  padding: 16px;
  border-radius: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-primary {
  background-color: #68d0f0;
  color: #ffffff;
  font-size: 24px;
  transition: all 0.3s;

  &:hover {
    background-color: #ffffff;
    color: #68d0f0;
  }
}
