.modal {
  & > &-background {
    background-color: rgba(100, 100, 100, 0.2);
  }

  & > &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #ffffff;
    border: 1px solid #555555;
    padding: 32px;

    .modal-content-title {
      font-size: 28px;
      font-weight: bold;
      color: #222222;
    }

    & > form {
      display: flex;
      flex-direction: column;
      position: relative;

      & > input {
        width: 400px;
        height: 48px;
        font-size: 24px;
        line-height: 36px;
        padding: 8px;
        border: 1px solid #000000;
        margin-top: 16px;
      }

      & > textarea {
        font-size: 16px;
        line-height: 24px;
        height: 96px;
        padding: 8px;
        border: 1px solid black;
        margin-top: 16px;
      }

      .btn-list {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;

        .btn {
          &:first-child {
            margin-right: 16px;
          }
        }
      }
    }
  }
}
