.alert-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 12px;
}

.alert {
  padding: 16px;
  background-color: #e9ffdf;
  border-radius: 8px;
}
