.blog-list {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  .blog {
    &:not(:first-child) {
      border-top: none;
    }
  }
}

.article-number {
  font-size: 48px;
  margin-top: 16px;
}

.empty {
  font-size: 24px;
  padding: 12px;
  border: 1px solid #555555;
  background-color: #f5f5f5;
  margin-top: 16px;
}
